*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-align: center;
    background-color: rgba(215, 224, 241, 0.1);
}
main
{
    padding-top: 100px;
}
.today-orders-summary
{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 3fr 3fr;
    padding:10px;
    background-color: rgb(195, 209, 236);
    width:95%;
    margin:auto;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.information-item
{
    display: inline;
}

.information-title
{
    font-size: 90%;
    font-weight: 500;
    margin-bottom:5px;
}
.information
{
    font-size: 120%;
    font-weight: bold;
}

.orders{
    margin:auto;
    margin-top:10px;
}

h3{
    margin-top: 25px;
    color:teal;
    text-decoration: underline;
}

.orders-table
{
    width:80%;
    max-width: 900px;
    margin:auto;
    border-collapse: separate;
    border-spacing: 0 1rem;
    margin-top:20px;
}

.order-title
{
    font-weight: bold;
    font-size: 110%;
}

.order-title th
{
    padding-bottom:10px;
    padding-top:10px;
    color:wheat;
    background-color: rgb(5, 50, 77);
}
.orders-table tr
{
    background-color: rgb(195, 209, 236);
} 

.orders-table td
{
    padding:15px 0px;
    font-weight: 500;
}

tr td:first-child, tr th:first-child 
{ 
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
}
tr td:last-child, tr th:last-child
{ 
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
}

.order-detail
{
    background-color: rgb(134, 169, 238);
    margin-top:30px;
    border-radius: 40px;
    height: fit-content;
    padding:20px;
}

.order-item
{
    margin-top:20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.title{
    font-weight: bolder;
    text-decoration: underline;
    font-size: 120%;
}

.item-title
{
    font-weight: bold;
    font-size: 100%;
}

.order-detail-total , .payment-status
{
    margin:auto;
    font-weight: 700;
    font-size: 120%;
    margin-top:30px;
}

.payment-status
{
    margin-top: 5px;
    font-weight: 500;
}