<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About US-Just Eat It</title>
    <link rel="stylesheet" href="./css/about.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1>JUST EAT IT</h1>
        <div class="navbar" id="navbar">
            <a href="javascript:void(0);" class="icon" onClick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
            <a href="/">Home</a>
            <a href="/menu">Menu</a>
            <a href="/order-online">Order Online</a>
            <a href="/about" class="active">About</a>
            <a href="/reservation">Reservation</a>
            <a href="#" class="active">Welcome <%= userName %></a>
            <a href="/logout">Logout</a>
        </div>
    </header>

    <section>
        <article>
            <div class="welcome-note">
                <h3>ABOUT US</h3>
                <h2>We have a delecious Memory for You</h2>
                <p>Welcome to Just Eat It, our home located in Delhi, where welcomeinvite 
                    guests to celebrate life and share sundry blends of modern and traditional 
                    Indian cuisine. Our goal at Just Eat It is to unify our guest's culture and
                    spirits with our own, expressing passion and cuisine we share. 
                </p>

                <p>Whether part of a party of fifty or a part of two, yout experience 
                    throughout our elegant, yet comfortable space is eventful. We are sharing our
                    long held Indian traditions with a modern contemporary twist. You will feel
                    both close to home and apart of something new.  
                </p>
                <div class="image-container">
                    <img src="images/about-thumb-01.jpg">
                    <img src="images/about-thumb-02.jpg">
                </div>
            </div>
            <div class="video-content">
                <img src="images/about-video-bg.jpg">
            </div>
        </article>
    </section>

    <div class="our-chef">
        <h3>OUR CHEF</h3>
        <h2>We got the best Chef for You</h2>

        <div class="chef-images">
            <img src="images/chefs-01.jpg">
            <img src="images/chefs-02.jpg">
            <img src="images/chefs-03.jpg">
        </div>
    </div>

    <script>
        function myFunction()
        {
            console.log(2);
            var x = document.getElementById("navbar");
            if(!x.classList.contains("responsive"))
            {
                console.log(x.classList);
                x.classList.add("responsive");
                console.log(x.classList);
            }
            else
            {
                x.classList.remove('responsive');
            }
        }
    </script>
</body>
</html>